*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    background-color: rgb(101, 101, 206);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.container{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 40px;
    border: 3px solid black;
}


h1{
    font-size: 2rem;
    margin: 10px 0px 30px 0px;
    font-weight: 600;
    text-decoration: underline;
    text-shadow: 2px 0px 0px black;
    color: white;
}

div.top{
    font-size: 1.2rem;
    font-weight: 600;
}

input{
    padding: 7px;
    font-size: 1.2rem;
    text-align: center;
    border: 2px solid black;
}

button{
    padding: 7px;
    font-weight: 700;
    font-size: 1.4rem;
    border-radius: 15px;
    cursor: pointer;
}

div.bottom{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 15px;
    font-size: 1.2rem;
}

select{
    font-size: 1.1rem;
    padding: 10px;
    border: 2px solid black;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

footer{
    color: white;
    font-size: 1.5rem;
    margin-top: 20px;
}